.opdrachtenDisplay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.vinkjes {
    list-style-type: none;
}

.ullijstje {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.maakbold {
    font-weight: bold;
}

.linkklas {
    color: black;
}

.soortscore {
    width: 100px;
}